@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo: #E9D7B4;
    --cor-texto: #ffffff;
    --cor-secundaria: #8D5740;
    --cor-header: #5A3A2E;
    --cor-botoes: #E9D7B4;
    --transicao-suave: 0.5s ease-in-out;
}

body {
    background-color: var(--cor-fundo);
    font-family: 'MuseoModerno', sans-serif;
    color: var(--cor-texto);
    line-height: 1.6;
    font-size: large;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

/* --- HEADER PADRÃO --- */
.main-header-container {
    background-color: var(--cor-header);
    background-image: url(/imagens/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 175px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    color: var(--cor-texto);
    font-weight: 700;
    flex-shrink: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 60px;
}

.login-container {
    display: flex;
    background-color: #E9D7B4;
    padding: 20px;
    border-radius: 15px;
    gap: 40px;
}

/* --- CADA CAIXA DE LOGIN OU CADASTRO --- */
.login-box,
.signup-box {
    background-color: #D8BF90;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    height: 600px;
}

/* --- TÍTULOS (h2) --- */
h2 {
    color: #5A3A2E;
    font-size: 1.5rem;
    margin-bottom: 10px;


}

/* --- INPUTS --- */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 20px 50px;
    border: 2px solid #8D5740;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'MuseoModerno', sans-serif;
    transition: border-color 0.3s ease;
    margin-top: 10px;

}

/* --- BOTÃO PRINCIPAL (Acessar / Criar conta) --- */
.login-btn {
    background-color: #8D5740;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 50px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.3s ease;
    font-size: 1.5rem;
    font-family: 'MuseoModerno', sans-serif;
    gap: 10px;
}

.login-btn:hover {
    background-color: #5A3A2E;
    transform: scale(1.03);

}

/* --- BOTÃO DO GOOGLE --- */
.google-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s ease;
    font-family: 'MuseoModerno', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.google-btn img {
    width: 24px;
    height: 24px;
}

.google-btn:hover {
    background-color: #f2f2f2;
    transform: scale(1.03);
}

/* --- RODAPÉ --- */
.rodape {
    background-color: var(--cor-secundaria);
    width: 100%;
    color: var(--cor-texto);
    padding: 10px 5%;
    font-size: 0.9em;
    font-weight: bold;
    bottom: 0%;
    position: absolute;
}

.rodape a {
    color: var(--cor-texto);
}
/* --- MEDIA QUERIES --- */
/* Notebooks 1024px ~ 1366px */
@media (max-width: 1366px) and (min-width: 769px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
    }

    .header h1 {
        font-size: 2rem;
        text-align: center;
    }

    .header-elements {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }

    .header .search-bar input {
        width: 300px;
    }

    .recomendados-livros {
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }

    .recomendados-livros .livro {
        width: 220px;
    }

    .navigation ul {
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
}